Package: com.posixninja.qmi.dloadtool
Name: dloadtool
Version: 1.0-1
Description: 
Section: System
Depends: firmware (>= 5.0)
Conflicts: 
Replaces: 
Priority: optional
Architecture: iphoneos-arm
Author: Joshua Hill
dev: 
Homepage: 
Depiction: 
Maintainer: 
Icon: 

